<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlurScreen</key>
	<false/>
	<key>CleanupAfterUse</key>
	<false/>
	<key>DialogListOptions</key>
	<string>--infobox wtf yo wtf wtf wtf --title "Baseline v2.1beta1 Test" --message "Bart keeps adding awesome features..." --ontop --moveable --overlayicon "/Users/bigmacadmin/Pictures/Profile Pics/BigMacAdmin_Circle.png"</string>
	<key>Installomator</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Obsidian</string>
			<key>Icon</key>
			<string>/Applications/Obsidian.app</string>
			<key>Label</key>
			<string>obsidian</string>
			<key>Subtitle</key>
			<string>An awesome note taking app.</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>iMazing Profile Editor</string>
			<key>Icon</key>
			<string>/Applications/iMazing Profile Editor.app</string>
			<key>Label</key>
			<string>imazingprofileeditor</string>
			<key>Subtitle</key>
			<string>An awesome tool to make your Baseline profile (and lots more).</string>
		</dict>
	</array>
	<key>Scripts</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Test Script</string>
			<key>Icon</key>
			<string>SF=bed.double.circle,color=purple</string>
			<key>ScriptPath</key>
			<string>/bin/sleep</string>
			<key>Arguments</key>
			<string>3</string>
			<key>Subtitle</key>
			<string>A script that just sleeps for a while, lets see how SF Symbols look as well as super duper way long descriptions and maybe formatting, because you just **know** that someone is going to write a description this long and then ask why it doesn't show up, thats just how things go.</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>No Description</string>
			<key>Icon</key>
			<string>SF=bed.double.circle,color=green</string>
			<key>ScriptPath</key>
			<string>/bin/sleep</string>
			<key>Arguments</key>
			<string>3</string>
		</dict>
	</array>
	<key>InstallomatorSwiftDialogIntegration</key>
	<true/>
	<key>ReinstallDialog</key>
	<false/>
	<key>Restart</key>
	<false/>
</dict>
</plist>
